{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  
				
				
				<div class="modal-body">                
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
											  {{ form_start(form) }}
												<label class="col-form-label">Nom <span class="text-danger">*</span></label>
												 {{ form_row(form.nom, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Prénom</label>
												 {{ form_row(registrationForm.prenom, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Role <span class="text-danger">*</span></label>
											 {{ form_row(registrationForm.role_utilisateur, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												 {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Mot de passe</label>
											 {{ form_row(registrationForm.password, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Ville</label>
												{{ form_row(registrationForm.ville, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Adresse</label>
												 {{ form_row(registrationForm.adresse, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label"> Date d'embauche <span class="text-danger">*</span></label>
												 {{ form_row(registrationForm.date_embauche, { 'attr': {'class': 'form-control datetimepicker'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Téléphone </label>
												{{ form_row(registrationForm.telephone, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Entreprise</label>
											</div>
										</div>
										</div>
									</div>
<button class="btn">{{ button_label|default('Save') }}</button>     
    {{ form_end(registrationForm) }}
{% endblock %}


