{% extends 'base.html.twig' %}

{% block title %}Remplacements index{% endblock %}

{% block body %}
    <h1>Remplacements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remplacement in remplacements %}
            <tr>
                <td>{{ remplacement.id }}</td>
                <td>{{ remplacement.titre }}</td>
                <td>{{ remplacement.description }}</td>
                <td>
                    <a href="{{ path('app_remplacements_show', {'id': remplacement.id}) }}">show</a>
                    <a href="{{ path('app_remplacements_edit', {'id': remplacement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_remplacements_new') }}">Create new</a>
{% endblock %}
