{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ contact.Prenom }}</td>
            </tr>
            <tr>
                <th>Tele</th>
                <td>{{ contact.Tele }}</td>
            </tr>
            <tr>
                <th>Adresse_pa</th>
                <td>{{ contact.AdressePa }}</td>
            </tr>
            <tr>
                <th>TypePanne</th>
                <td>{{ contact.typePanne }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contact.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ contact.photo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.Email }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ contact.date ? contact.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_index') }}">back to list</a>

    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
    <a href="{{ path('app_contact_valid', {'id': contact.id}) }}">valider</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
